div.horizontalMenu {
    margin-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    cursor: grab;
    user-select: none;

    display: inline-block;
    border-radius: 10px;
}



div.horizontalMenu_Item {
    background-color: #d5f3ff;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    height: auto;
    margin-bottom: 10px;
    display: inline-block;
    pointer-events: none;

    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;

    /*Set and override flex properties*/
    flex: none;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}






