@import "AnimationSheet.css";
@import "Horizontal_Menu.css";
@import "DataView.css";
@import "FontStyles.css";

/*Set all elements to box sizing*/
*{
    box-sizing: border-box;
}

/*Main Body (HTML)*/
body {
    margin: 0px;
}

h1{
    display: inline-block;
    /*Font and positioning*/
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-size: 20px;
    vertical-align: middle;
    line-height: 40px;

    margin-left: 30px;
    margin-top: auto;
    margin-bottom: auto;
    animation: FadeIn 1.5s, SlideIn_Right 1.5s;

}

p{
    font-family: Quicksand;
    font-size: medium;
    overflow-wrap: break-word;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    text-align: center;
}


.Header{
    z-index: 15;
    user-select: none;
}

div.Header{
    background-color: rgb(255, 255, 255);
    margin: 0;
    height: 45px;
    line-height: 30px;
    width: 100vw;
    border-bottom: 3px solid black;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    overflow: hidden;

}

img.Header{
    display: inline-block;
    float: right;
    height: 25px;
    width: auto;
    margin-right: 10px;

    overflow: clip;
    animation: FadeIn 1.5s, SlideIn_Left 1.5s;

    margin-top: 5px;

}

img.Header:hover{
    opacity: 0.5;
}


.mapMarker {
    background-image: url("MapIcons/maki_svgs/water.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vw;
    height: 10vw;
    max-width: 50px;
    max-height: 50px;
    cursor: pointer;
}

/*ScrollBar*/



